.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "imagenes imagenes imagenes imagenes"
    "section1 section1 section1 section1"
    "boton1 boton1 boton2 boton2"
    "boton3 boton3 boton4 boton4";
}
.imagenes {
  grid-area: imagenes;
  background-color: red;
}

.section1 {
  grid-area: section1;
  background-color: #bb265f;
  padding: 10px;
}

.boton1 {
  grid-area: boton1;
  background-color: rgb(39, 48, 46);
  display: flex;
  justify-content: center;
}

.boton2 {
  background-color: #ff00b338;
  grid-area: boton2;
  display: flex;
  justify-content: center;
}

.boton3 {
  background-color: #90b2df;
  grid-area: boton3;
  display: flex;
  justify-content: center;
}
.boton4 {
  background-color: rgb(135, 101, 136);
  grid-area: boton4;
  display: flex;
  justify-content: center;
}
.nroDeContacto {
  display: flex;
  flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .section1 {
    background-color: black;
    color: red;
  }
}
